@media screen and (min-width: 576px) {
    #carouselInner {
        display: flex;
    }

    #carouselItem {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 3);
    }    
}

/* .imageWrapper {
    display: flex
} */