#image {
  height: 92.5vh;
  width: 100%;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items: center;
}

#text {
  z-index: 0;
}

.mouse_btn {
  margin: 10px auto;
  width: 2rem;
  height: 3.5rem;
  border: 3px solid rgba(122, 122, 124, 0.5);
  border-radius: 20px;
  display: flex;
  margin-top: 7.5rem;
}

.mouse_scroll {
  display: block;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(170deg, rgba(122, 122, 124, 0.5), rgb(123, 124, 124));
  border-radius: 50%;
  margin: auto;
  animation: scrolling 1s linear infinite;
}

@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@media (max-width: 1080px) {
  h4 {
    padding: 5rem;
  }
}