#container_buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

#title {
  font-weight: 500 !important;
}

#text {
  text-align: left;
  color: var(--text-color);
}

#content_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#image {
  border-radius: 50%;
  /* border: 0.25rem solid var(--second-color); */
  width: 75%;
  margin: 0 auto;
}

#image:hover {
  scale: 1.05;
  filter: brightness(1.25);
  transition: 2000;
}

@media (max-width: 960px) {
  #image {
    width: 50%;
  }
}