#container_buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
#title {
  font-weight: 300 !important;
  color: var(--title-color);
  margin: 4rem;
}

#text {
  text-align: left;
  color: var(--text-color);
}

#content_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#image {
  border-radius: 5%;
  width: 75%;
  margin: 0 auto;
}

#image:hover {
  scale: 1.025;
  filter: brightness(1.1);
  animation-delay: 2s;
}

@media (max-width: 960px) {
  #image {
    width: 75%;
  }
}