.container {
  padding: 3rem;
}

#container_buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
#title {
  font-weight: 300 !important;
  color: var(--title-color);
  margin: 4rem;
}

#text {
  text-align: center;
  color: var(--text-color);
}