.container {
  align-items: center !important;
  text-align: center;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  background-color: red;
}

svg {
  margin-bottom: 1.5rem;
}

#content_image {
  margin: auto !important;
  align-items: center !important;
  text-align: center !important;
}

@media (max-width: 1080px) {
  #content_image {
    align-items: center !important;
    text-align: center !important;
    margin: auto;
    width: 100% !important;
  }
}