:root{
  --main-color: #e53037;
  --second-color: #152933;
  --title-color: #8c8c8c;
  --text-color: #4c4c4c;
  --light-color: #e4e4e4;
  --white-color: #F9F9F9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.active {
  font-weight: 400;
  color: var(--main-color) !important;
}

.nav {
  color:'var(--text-color)' !important;
  width: "5rem"
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
